<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="/static/operations.css">
    </head>
    <body>
        <table>
            <caption>Operations</caption>
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Operations</th>
              </tr>
            </thead>
            <tbody>
              <form method="post" action="edit" > {% csrf_token %} 
              <tr>
                <td data-label="id"><input type="text" name="txtid" value="{{res.id}}"readonly  /></td>
                <td data-label="Fname"><input type="text" name="txtfname" value="{{res.FirstNameF}}"></td>
                <td data-label="Lname"><input type="text" name="txtlname" value="{{res.LastNameF}}"</td>
                <td data-label="Email"><input type="text" name="txtemail" value="{{res.EmailF}}"{{d.EmailF}}</td>
                <td data-label="Password"><input type="text" name="txtpassword" value="{{res.PasswordF}}"</td>
                <td data-label="Operations"><input type="submit" value="Update"></td>
              </tr>
              
              
            </tbody>
          </table>
        </form>
        <script src="" async defer></script>
    </body>
</html>